<%- include("partials/header") %>
<div class="container">
  <div class="jumbotron">
    <CENTER>
      <h1>Register here</h1>
      <form action="/register" method="POST">
        <label><h5>Username</h5></label>
        <input type="text" name="username" placeholder="username"><br>
        <label for=""><h5>Password</h5></label>
        <input type="password" name="password" placeholder="password"><br>
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </form>
    </CENTER>
  </div>
</div>



<%- include("partials/footer") %>
